/* Para ocupar toda la pantalla */
html,
body {
  height: 100%;
}

/*  Centrar los interno y agregar el fondo los padding son opcionales */
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
  background: url(img/bg.svg) no-repeat;
  background-color: #E0E8FF;
  background-size: contain;
}
/* el fondo de la card que contiene la mascota */
.card{
    background-color: #ffffff;
}
/* el color de; texto body card */
.card-body{
    color: #fff;
}
/* color del titulo */
.card-title{
  color: #222F51;
}
/* color de los textos */
.card-text{
  color: #222f518e;
}
/* esto es el tamano maximo y un pading para mejorar la experiencia */
.inicio {
  max-width: 390px;
  padding: 15px;
}
/* color del precio */
.price{
  color: #37adde;
}
/* color del boton */
.btn-primary{
  background-color: #37adde;
  border-color: #37adde;
}
/* efecto hover del boton */
.btn:hover{
  background-color: #37adde;
  border-color: #37adde;
  transform: scale(1.2);
  transition: 0.3s;

}