html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
  background: url(img/bg.svg) no-repeat;
  background-color: #E0E8FF;
  /* background-position: center top; */
  background-size: contain;
  /* background-position: cover; */
}

.card{
    background-color: #ffffff;
}
.card-body{
    color: #fff;
}
.card-title{
  color: #222F51;
}
.card-text{
  color: #222f518e;
}
.inicio {
  max-width: 330px;
  padding: 15px;
}

.inicio .form-floating:focus-within {
  z-index: 2;
}

.inicio input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.inicio input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}