/* variables de colores y espacios */
:root{
  /* tema de dia */
  --color-background: #E0E8FF;
  --color-light: #ffffff;
  --background-image: url(/assets/img/bg.svg) no-repeat;
  --color-title: #434343;
  --color-text: #222f518e;
  --color-theme: #37adde;
  --background-price: #f6f6f6;
  /* Tema de noche */
  --color-background-night: #3b3b3b;
  --color-dark: #000000;
  --color-text-light: #ffffff;
  --color-title-dark: #fffe;
  --background-price-dark: #5d5d5d;
}

/* Para ocupar toda la pantalla */
html,
body {
  height: 100%;
}
/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: var(--color-background);
}
/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

/*  Centrar los interno y agregar el fondo los padding son opcionales */
section{
  display: flex;
  align-items: center;
  margin: 0px;
  background: var(--background-image);
  background-color: var(--color-background);
  background-size: contain;
  font-family: 'Poppins', sans-serif;  
  height: 100%;
}

/* el fondo de la card que contiene la mascota */
.card{
    background-color: var(--color-light);
}
/* el color de; texto body card */
.card-body{
    color: var(--color-light);
}
/* color del titulo */
.card-title{
  color: var(--color-title);
}
/* color de los textos */
.card-text{
  color: var(--color-text);
}
/* esto es el tamano maximo y un pading para mejorar la experiencia */
.card-single {
  max-width: 350px;
  padding: 15px;
}
/* no aplicar filtro a la imagen */
img{
  filter: inherit;
}
.bg-price{
  background-color: var(--background-price);
}
/* color del precio */
.price{
  color: var(--color-theme);
}

/* color del boton */
.btn-primary{
  background-color: var(--color-theme);
  border-color: var(--color-theme);
}
/* efecto hover del boton */
.btn:hover{
  background-color: var(--color-theme);
  border-color: var(--color-theme);
  transform: scale(1.2);
  transition: 0.3s;

}



/* Efecto night */
input[type="checkbox"]{  
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 2%;
}

input[type="checkbox"]:checked ~ *{
  --color-background: var(--color-background-night);
  --color-light: var(--color-dark);
  --color-text: var(--color-text-light);
  --color-title: var(--color-title-dark);
  --background-price: var(--background-price-dark);
}
/* Efecto night */